@import "hmembership-params";

/**
 * hmembership-style-rtl.scss
 */
.wrap {
	.wp-list-table.hmembership-users {
		.column-user_info {
			.expand {
				float: right;
			}

			.content {
				margin-left: 0;
				margin-right: 30px;
			}
		}
	}

	.hmembership-admin-box {

		/********************/
		/* dynamic settings */
		/********************/

		.hmembership-admin-box-content-sortable {
			.content {
				.remove-section {
					left: 15px;
					right: auto;
				}
			}
		}
	}

	.submit {
		.ajax-loading {
			margin-left: 0;
			margin-right: 5px;
		}
	}
}